:host {
  .header-content {
    background-color: #1880c5;
    position: absolute;
    padding: 50px;
    height: 280px;
    color: #fff;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
  }
}
